body {
    background: rgb(247, 143, 143);
  }
  p {
    color: black;
    font-size: medium;
    text-align:center
    

  }
  h1 {
    font-weight: bold;
    color: black;
    text-align: center;
  }
    h6 {
        font-weight: bold;
        color: black;
        text-align: center;
  }

h3 {
    font-weight: bold;
    color: black;
    text-align: center;
}
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }